<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChungaPET - Adopción</title>
    <link rel="stylesheet" href="../Styles/adoption.css">
</head>
<body background="../images/fondo.jpg">
  
    <header>
        <div class="logo">
          <a href="../Index.html">    
            <img src="../images/logo.png" alt="ChungaPET Logo">
        </a>        </div>
        <nav class="icons">
            <a href="../Index.html">
                <img src="../iconos/home.png" alt="Inicio">
            </a>
            <a href="About_Us.html">
          <img src="../iconos/us.png" alt="Usuarios">
            </a>
          <img src="../iconos/chat.png" alt="Chat">
          <a href="Adoption.html">
            <img src="../iconos/adopt.png" alt="Adoptar">
          </a>
        </nav>
      </header>


      <section class="Cover">
        <img id="Cover-image" src="../images/Adopcion.jpg" alt="Imagen de carrusel">
        <div class="overlay">
          <h2 id="Cover-title">ADOPCIÓN</h2>
        </div>
      </section>


    <div class="pets-container">
        <div class="pet-row">
            <div class="pet-item">
                <img src="../images/Adoption/husky.jpg" alt="Husky">
                <a href="Adoption_form.html">
                  <button class="adopt-button">ADOPTAR</button>
              </a>
            </div>
            
            <div class="pet-item">
                <img src="../images/Adoption/golden.jpg" alt="Golden Retriever">
                <a href="Adoption_form.html">
                  <button class="adopt-button">ADOPTAR</button>
              </a>            </div>
            
            <div class="pet-item">
                <img src="../images/Adoption/reycat.jpg" alt="Gato Siamés">
                <a href="Adoption_form.html">
                  <button class="adopt-button">ADOPTAR</button>
              </a>            </div>
        </div>
        
        <div class="pet-row">
            <div class="pet-item">
                <img src="../images/Adoption/sanbernard.jpg" alt="Husky">
                <a href="Adoption_form.html">
                  <button class="adopt-button">ADOPTAR</button>
              </a>            </div>
            
            <div class="pet-item">
                <img src="../images/Adoption/schanuzer.jpg" alt="Golden Retriever">
                <a href="Adoption_form.html">
                  <button class="adopt-button">ADOPTAR</button>
              </a>            </div>
            
            <div class="pet-item">
                <img src="../images/Adoption/kitty.jpg" alt="Gato Siamés">
                <a href="Adoption_form.html">
                  <button class="adopt-button">ADOPTAR</button>
              </a>            </div>
        </div>
    </div>

    

    

<!-- Footer -->
<footer class="footer">
    <p>© 2025 ChungaPET. Todos los derechos reservados.</p>
    <img src="../images/footer.png" alt="Perrito en el footer">
  </footer>
</body>
</html>